{% extends "base.html" %}
{% load bootstrap %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>簡易審査判定フォーム</h1>
          <p>お客様のご入力した情報、及び専門の機関で用いる指標に基づき、お客様のご希望に沿った融資が可能かを審査します。</p>
        </div>
        <div class="panel-body">
          {% if predictedLabel and predictedLabel == "1" %}
          <div class="alert alert-success">
              この内容であれば問題なく融資可能です。<br>
              ぜひ店頭までお越しください。
          </div>
          {% elif predictedLabel and predictedLabel == "0" %}
          <div class="alert alert-info">
              この情報だけでは融資可否を判断できませんでした。<br>
              詳細な審査をご希望の方は店頭までお越しください。
          </div>
          {% endif %}
          <form class="form-horizontal" role="form" action="{% url 'exam' %}" method="post">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
              <input class="btn btn-primary center-block" type="submit" value="送信" />
              <br>
              <p>※ローングレードやサブグレードについては、平均的なグレードで計算しています。<br>
                  ※年収に関して、本来は第三者機関の検証が必要となるため、入力された年収が検証済みであると仮定しています。</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
